body{
    background-color: rgba(78, 78, 180, 0.795);
    text-align: center;
    text-decoration: none;
    font-family: Times New Roman;
    font-size: 20px;
    padding: 0px;
}
div.Register.container{
    margin-top: 1%;
    color: #030303f6;
    background-color: #c8e0d99f;
    width:90%;
    max-width:450px;
    margin:20px auto;
    color: #635f5f;
    border-radius: 48px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 12px;
    
}
input[type="text"], input[type="password"] {
    width: 52%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #7c7575bb;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
h1{
    color: #5c2f51fa;
    text-align: center;
    font-family: Times New Roman;
    text-decoration: none;
    font-size: 32px;
    font-family: Times New Roman;
    
}
@media(max-width:768px){

input{
    width:90% !important;
}

h1{
    font-size:28px;
}

}
footer {
    background-color: #63acdd;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    color: #353131;
    width: 100%;
    font-family: Times New Roman;
    font-size: 18px;
    margin-top: 20px;  
    padding: 1px; 
    margin-left: 0px;
    font-weight: bold;
}